$primary: #4b538b;
$secondary: #25b14a;
$black: #000;
$black2: #333;
$blackLight: #4c5259;
$white: #fff;
$gray: #f5f5f5;
$grayLight: #f5f8fc;
$grayDark: #555555;
$blueDark: #313973;
$blueLight: #114380;
$violet: #59608c;
$aqua: #c3d1e2;
$aquaBlue: #92B2D8;
$aquaLight: #eef3f9;
$red: #ec3b3b;
$orange: #ff8c00;
$inter: "Inter", sans-serif;
$noto: "Noto Serif", serif;
$footerBg: #333966;
